.backLightFrame {
    border-radius: 8px;
    padding: 2px;
    border-width: 2px;
    border-color: #ff680d;
    border-style: solid;
}

.itemDeleteBtn {
    float: right;
    cursor: pointer;
}

.videoDeleteBtn {
    cursor: pointer;
}

nav.fixed.snow{
    top: 50px;
}

.header-top
{
    margin-top: 50px;
}

.admin-nav {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #3b3b3b;
    color: #FFFFFF;
    z-index: 1002;
}

.admin-nav div {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.admin-nav div .left {
    padding-left: 10px;
}

.admin-nav div .left a {
    color: #FFFFFF;
}

.admin-nav div .left a:hover {
    color: #FF680D;
}

.admin-nav div .center {
    text-align: right;
    padding-right: 10px;
}

.admin-nav div .right {
    padding-right: 10px;
    padding-left: 10px;
    width: 10%;
}

/* popups */
.popup2 {
    top: 100px;
}

.popup3 {
    top: 100px;
}

.popup4 {
    top: 100px;
}

.popup5 {
    top: 100px;
}

.delete-tooltip {
    display: none;
    position: absolute;
    width: 200px;
    border-radius: 10px;
    left: 20px;
    top: -60px;
    padding: 5px 10px 5px 10px;
    background: #FF680D;
    color: #FFFFFF;
}

.delete-tooltip a {
    border-radius: 10px;
    cursor: pointer;
}
