.backLightFrame {
    border-radius: 8px;
    padding: 2px;
    border-width: 2px;
    border-color: #ff680d;
    border-style: solid;
}

.itemDeleteBtn {
    float: right;
    cursor: pointer;
}

.videoDeleteBtn {
    cursor: pointer;
}

nav.fixed.snow{
    top: 50px;
}

.header-top
{
    margin-top: 50px;
}

.admin-nav {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #3b3b3b;
    color: #FFFFFF;
    z-index: 1002;
}

.admin-nav div {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.admin-nav div .left {
    padding-left: 10px;
}

.admin-nav div .left a {
    color: #FFFFFF;
}

.admin-nav div .left a:hover {
    color: #FF680D;
}

.admin-nav div .center {
    text-align: right;
    padding-right: 10px;
}

.admin-nav div .right {
    padding-right: 10px;
    padding-left: 10px;
    width: 10%;
}

/* popups */
.popup2 {
    top: 100px;
}

.popup3 {
    top: 100px;
}

.popup4 {
    top: 100px;
}

.popup5 {
    top: 100px;
}

div.delete-tooltip {
    display: none;
    position: absolute;
    width: 200px;
    height: 75px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background: #FF680D;
    color: #FFFFFF;
    z-index: 9999;
}

div.delete-tooltip:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 170px;
    top: 75px;
    border: 10px solid;
    border-color: #FF680D #FF680D transparent transparent;
}

.delete-tooltip a {
    border-radius: 10px;
    cursor: pointer;
}

.delete-trainer {
    right: 140px;
    top: -70px;
}

@media all and (max-width: 560px)
{
    .delete-trainer {
        right: 80px;
    }
}
