.backLightFrame {
    border-radius: 8px;
    padding: 2px;
    border-width: 2px;
    border-color: #ff680d;
    border-style: solid;
}

.itemDeleteBtn {
    float: right;
    cursor: pointer;
}

.videoDeleteBtn {
    cursor: pointer;
}
