.backLightFrame {
    outline: #FF680D solid 2px;
    outline-offset: 2px;
    -moz-outline-radius: 10px;
}

.itemDeleteBtn {
    float: right;
    cursor: pointer;
}

.our-trainers #f1 img {
    cursor: pointer;
}

.videoDeleteBtn {
    cursor: pointer;
}

nav.fixed.snow{
    top: 50px;
}

.header-top
{
    margin-top: 50px;
}

.admin-nav {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #3b3b3b;
    color: #FFFFFF;
    z-index: 1002;
}

.admin-nav div {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.admin-nav div .left {
    padding-left: 10px;
}

.admin-nav div .left a {
    color: #FFFFFF;
}

.admin-nav div .left a:hover {
    color: #FF680D;
}

.admin-nav div .center {
    text-align: right;
    padding-right: 10px;
}

.admin-nav div .right {
    padding-right: 10px;
    padding-left: 10px;
    width: 10%;
}

/* popups */
.popup2 {
    top: 100px;
}

.popup3 {
    top: 100px;
}

.popup4 {
    top: 100px;
}

.popup5 {
    top: 100px;
}

div.delete-tooltip {
    display: none;
    position: absolute;
    width: 200px;
    height: 75px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background: #FF680D;
    color: #FFFFFF;
    z-index: 1051;
}

div.delete-tooltip:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 75px;
    border: 10px solid;
}

div.delete-trainer:before {
    right: 15px;
    border-color: #FF680D #FF680D transparent transparent;
}

.trainer_caption div.delete-tooltip a {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #ff680d;
    line-height: 18px;
    border: 2px solid #ffffff;
    padding: 7px 13px 9px 13px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    transition: 0.3s;
    background-color: #ffffff;
    background-repeat: unset;
    background-image: unset;
    margin-top: 0;
}

div.delete-security-item:before {
    left: 15px;
    border-color: #FF680D transparent transparent #FF680D;
}

div.delete-trainer {
    right: 130px;
    top: -70px;
}

div.delete-trainer-video {
    left: 10px;
    bottom: 50px;
}

div.delete-trainer-video:before {
    left: 15px;
    border-color: #FF680D transparent transparent #FF680D;
}

div.delete-security-item {
    left: 0;
    top: -98px;
}

div.delete-video:before {
    border: 15px solid;
    left: 85px;
    border-color: #FF680D transparent transparent transparent;
}

div.delete-video {
    left: 69px;
    top: -98px;
}

div.delete-rule-item:before {
    right: 15px;
    top: -20px;
    border-color: transparent #FF680D #FF680D transparent;
}

div.delete-rule-item {
    right: 0;
    top: 40px;
}

div.delete-medical-certificate:before {
    right: 15px;
    top: -20px;
    border-color: transparent #FF680D #FF680D transparent;
}

div.delete-medical-certificate {
    right: 0;
    top: 40px;
}

div.delete-vacancy:before {
    right: 15px;
    top: -20px;
    border-color: transparent #FF680D #FF680D transparent;
}

div.delete-vacancy {
    right: 0;
    top: 40px;
}

.delete-tooltip a {
    border-radius: 10px;
    cursor: pointer;
}

.delete-tooltip a:hover {
    opacity: 0.8;
}

div.trainer-delete-container {
    max-width: 90%;
    width: 100%;
    margin: auto;
}

div.trainer-delete-sub-container {
    display: inline-block;
    float: right;
    position: relative;
}

div.item-delete-container {
    display: table-cell;
    position: relative;
    width: 16px;
    padding: 0 5px 0 5px;
}

div.video-delete-container {
    text-align: center;
    position: relative
}

a#trainer_delete_btn {
    padding: 20px 30px;
    box-shadow: none;
}

.header .header-top .header-phones address div i {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.7px;
    display: inline-block;
}

.header .header-top .header-phones address .first-phone div i {
    background: url(../images/man1.png) no-repeat 0 center;
    padding-left: 12px;
    margin-left: 6px;
    color: #BDBDBD;
    padding-top: 1px;
}

.header .header-top .header-phones address .second-phone div i {
    background: url(../images/man2.png) no-repeat 0 center;
    padding-left: 12px;
    margin-left: 6px;
    color: #FF680D;
    padding-top: 1px;
}

.header .header-top .header-phones address .third-phone div i {
    background: url(../images/man3.png) no-repeat 0 center;
    padding-left: 12px;
    margin-left: 6px;
    color: #10E425;
    padding-top: 1px;
}

.header .header-top .header-phones address .fourth-phone div i {
    background: url(../images/man4.png) no-repeat 0 center;
    padding-left: 12px;
    margin-left: 6px;
    color: #DE64A1;
    padding-top: 1px;
}

.about .right h2 {
    padding-bottom: 0;
    margin-bottom: 25px;
}

.the-advantages-of-early-development h2 {
    padding-top: 0;
    margin-top: 80px;
}

.age-of-child .container h2 {
    padding-top: 0;
    margin-top: 80px;
}

.trainer_caption h4 {
    max-width: 90%;
}

.subscribers-for-visits .container h2 {
    padding: 0;
    margin: 70px 0 30px 0;
}

.submit-your-application .container .left h2 {
    padding-top: 0;
    margin-top: 10px;
}

.security .container h2 {
    padding-bottom: 0;
    margin-bottom: 50px;
}

.swimming-pool .container h3 {
    padding-top: 0;
    margin-top: 100px;
}

.header .container .header-bottom h1 {
    padding-top: 0;
    margin-top: 150px;
}

div.rule1 {
    margin-top: 5px;
}

div#text_67 {
    margin: 5px 5px 0 5px;
}

div.item-container {
    display: table;
    width: 100%
}

div.item-container div.item-content-container {
    display: table-cell
}

div.item-container div.item-content-container li {
    display: table;
    width: 100%
}

div.item-marker-container {
    display: table-cell;
    width: 25px
}

div.item-container div.item-content-container li div#ruleItem_text {
    display: table-cell
}

div.item-container div.item-content-container li div#medicalCertificate_text {
    display: table-cell
}

div.item-container div#vacancy_text {
    display: table-cell
}

div.item-add-container {
    max-width: 90%;
    width: 100%;
    margin: auto;
    height: 100px
}

div.item-add-container a {
    padding: 20px 30px;
    float: right;
    box-shadow: none
}

.age-of-child .container .age-of-child-items .tab_content .tab_item
{
    position: relative;
}

.security .container .right .tab_content2 .tab_item2 {
    position: relative;
}

label.image-edit-area {
    position: absolute;
    cursor: pointer;
}

.age-of-child .container .age-of-child-items .item1 label.image-edit-area
{
    left: 0;
    top: 0;
}

.age-of-child .container .age-of-child-items .item2 label.image-edit-area
{
    left: 15%;
    top: 0;
    -ms-transform: translate(-15%, 0px);
    transform: translate(-15%, 0px);
}

.age-of-child .container .age-of-child-items .item3 label.image-edit-area
{
    left: 15%;
    top: 0;
    -ms-transform: translate(-15%, 0px);
    transform: translate(-15%, 0px);
}

.security .container .right .item1 label.image-edit-area {
    left: 0;
    top: 0
}

.security .container .right .item2 label.image-edit-area {
    left: 15%;
    top: 0;
    -ms-transform: translate(-15%, 0px);
    transform: translate(-15%, 0px);
}

.security .container .right .item3 label.image-edit-area {
    left: 15%;
    top: 0;
    -ms-transform: translate(-15%, 0px);
    transform: translate(-15%, 0px);
}

.header {
    position: relative;
}

.header-image-edit-area {
    position: absolute;
    height: 619px;
    width: 100%;
    bottom: 0;
    cursor: pointer;
}

.trainer_caption a#trainerVideoAddBtn {
    background: url("../images/icon_add.png") no-repeat;
}

.trainer_caption a#trainer_video_edit_btn {
    background: url("../images/icon_edit.png") no-repeat;
}

.trainer_caption a#trainerVideo_delete_btn {
    background: url("../images/icon_delete.png") no-repeat;
}

@media all and (max-width: 1074px)
{
    .header-image-edit-area {
        height: 600px;
    }
}

@media all and (max-width: 1074px)
{
    .header-image-edit-area {
        height: 600px;
    }
}

@media all and (max-width: 600px)
{
    .age-of-child .container .age-of-child-items .tab_content .tab_item .image-edit-area
    {
        left: 50%;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }

    .security .container .right .tab_content2 .tab_item2 .image-edit-area {
        left: 50%;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
    }
}

@media all and (max-width: 760px)
{
    .trainer_caption h4 {
        margin: 5px;
    }

    .trainer_caption p {
        margin: 5px;
    }

    .header .container .header-bottom h1 {
        margin-top: 0;
        padding-top: 130px;
    }

    .header-image-edit-area {
        height: 582px;
    }
}

@media all and (max-width: 510px){
    div.delete-trainer {
        right: 69px;
        top: -70px;
    }
}

@media all and (max-width: 1380px)
{
    div.delete-security-item:before {
        left: unset;
        right: 15px;
        border-color: #FF680D #FF680D transparent transparent;
    }

    div.delete-security-item {
        left: unset;
        right: 0;
    }
}

