.backLightFrame {
    outline: #FF680D solid 2px;
    outline-offset: 2px;
    -moz-outline-radius: 10px;
}

.itemDeleteBtn {
    float: right;
    cursor: pointer;
}

.videoDeleteBtn {
    cursor: pointer;
}

nav.fixed.snow{
    top: 50px;
}

.header-top
{
    margin-top: 50px;
}

.admin-nav {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #3b3b3b;
    color: #FFFFFF;
    z-index: 1002;
}

.admin-nav div {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.admin-nav div .left {
    padding-left: 10px;
}

.admin-nav div .left a {
    color: #FFFFFF;
}

.admin-nav div .left a:hover {
    color: #FF680D;
}

.admin-nav div .center {
    text-align: right;
    padding-right: 10px;
}

.admin-nav div .right {
    padding-right: 10px;
    padding-left: 10px;
    width: 10%;
}

/* popups */
.popup2 {
    top: 100px;
}

.popup3 {
    top: 100px;
}

.popup4 {
    top: 100px;
}

.popup5 {
    top: 100px;
}

div.delete-tooltip {
    display: none;
    position: absolute;
    width: 200px;
    height: 75px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background: #FF680D;
    color: #FFFFFF;
    z-index: 1051;
}

div.delete-tooltip:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 75px;
    border: 10px solid;
}

div.delete-trainer:before {
    right: 15px;
    border-color: #FF680D #FF680D transparent transparent;
}

div.delete-security-item:before {
    left: 15px;
    border-color: #FF680D transparent transparent #FF680D;
}

div.delete-trainer {
    right: 140px;
    top: -70px;
}

div.delete-security-item {
    left: 0;
    top: -98px;
}

div.delete-video:before {
    border: 15px solid;
    left: 85px;
    border-color: #FF680D transparent transparent transparent;
}

div.delete-video {
    left: 69px;
    top: -98px;
}

div.delete-rule-item:before {
    right: 15px;
    top: -20px;
    border-color: transparent #FF680D #FF680D transparent;
}

div.delete-rule-item {
    right: 0;
    top: 40px;
}

div.delete-medical-certificate:before {
    right: 15px;
    top: -20px;
    border-color: transparent #FF680D #FF680D transparent;
}

div.delete-medical-certificate {
    right: 0;
    top: 40px;
}

div.delete-vacancy:before {
    right: 15px;
    top: -20px;
    border-color: transparent #FF680D #FF680D transparent;
}

div.delete-vacancy {
    right: 0;
    top: 40px;
}

.delete-tooltip a {
    border-radius: 10px;
    cursor: pointer;
}

div.trainer-delete-container {
    max-width: 90%;
    width: 100%;
    margin: auto;
}

div.trainer-delete-sub-container {
    display: inline-block;
    float: right;
    position: relative;
}

div.item-delete-container {
    display: table-cell;
    position: relative;
    width: 16px;
    padding: 0 5px 0 5px;
}

div.video-delete-container {
    text-align: center;
    position: relative
}

a#trainer_delete_btn {
    padding: 20px 30px;
    box-shadow: none;
}

.about .right h2 {
    padding-bottom: 0;
    margin-bottom: 25px;
}

.the-advantages-of-early-development h2 {
    padding-top: 0;
    margin-top: 80px;
}

.age-of-child .container h2 {
    padding-top: 0;
    margin-top: 80px;
}

.trainer_caption h4 {
    max-width: 90%;
}

.subscribers-for-visits .container h2 {
    padding: 0;
    margin: 70px 0 30px 0;
}

.submit-your-application .container .left h2 {
    padding-top: 0;
    margin-top: 10px;
}

.security .container h2 {
    padding-bottom: 0;
    margin-bottom: 50px;
}

.swimming-pool .container h3 {
    padding-top: 0;
    margin-top: 100px;
}

.header .container .header-bottom h1 {
    padding-top: 0;
    margin-top: 150px;
}

div.rule1 {
    margin-top: 5px;
}

div#text_67 {
    margin: 5px 5px 0 5px;
}

div.item-container {
    display: table;
    width: 100%
}

div.item-container div.item-content-container {
    display: table-cell
}

div.item-container div.item-content-container li {
    display: table;
    width: 100%
}

div.item-marker-container {
    display: table-cell;
    width: 25px
}

div.item-container div.item-content-container li div#ruleItem_text {
    display: table-cell
}

div.item-container div.item-content-container li div#medicalCertificate_text {
    display: table-cell
}

div.item-add-container {
    max-width: 90%;
    width: 100%;
    margin: auto;
    height: 100px
}

div.item-add-container a {
    padding: 20px 30px;
    float: right;
    box-shadow: none
}

@media all and (max-width: 560px)
{
    div.delete-trainer {
        right: 80px;
    }
}

@media all and (max-width: 760px)
{
    .trainer_caption h4 {
        margin: 5px;
    }

    .trainer_caption p {
        margin: 5px;
    }

    .header .container .header-bottom h1 {
        margin-top: 0;
        padding-top: 130px;
    }
}

@media all and (max-width: 1380px)
{
    div.delete-security-item:before {
        left: unset;
        right: 15px;
        border-color: #FF680D #FF680D transparent transparent;
    }

    div.delete-security-item {
        left: unset;
        right: 0;
    }
}

